version: '3.8'

services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - "27021:27017"
    volumes:
      - mongo_data:/data/db

  nestjs:
    image: ghcr.io/username/repo/nestjs-app:latest
    restart: always
    container_name: nestjs-app
    depends_on:
      - mongo
    env_file:
      - .env
    ports:
      - "9000:9000"

volumes:
  mongo_data:
